# Build folders
[Bb]in/
[Oo]bj/

# Visual Studio user files
*.user
*.suo
.vs/


myshop.Web/appsettings.json
myshop.Web/bin/Debug/net7.0/appsettings.json

myshop.Web/appsettings.Development.json
myshop.Web/bin/Debug/net7.0/appsettings.Development.json
Removed_Files/